<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale=1.0>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Menu</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div class="container-c">
        <div class="btn">
            <a href="swe.html">Software Engineer</a>
        </div>
        <div class="btn">
            <a href="salesman/">Salesman</a>
        </div>
        <div class="btn">
            <a href="project.html">Project</a>
        </div>
        <div class="btn">
            <a href="customer.html">Customer</a>
        </div>
    </div>

</body>
</html>