<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale=1.0>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Salesman View</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div class="sidebar">
        <div class="expandable">
            <button class="slide">A</button>
                <div class="slide-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
        </div>
        <div class="expandable">
            <button class="slide">B</button>
                <div class="slide-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
        </div>
        <div class="backbtn">
            <a href="main.html">Back</a>
        </div>
    </div>

</body>
</html>